@import "tailwindcss";

body {
    position: relative;
    background-image: url('../public/glassesImage/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 20%;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}